<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}

<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
            <h3><i class="fa fa-tv"></i> Admin Deployments <small>You have the power</small></h3>
            <ul class="nav navbar-right panel_toolbox">
               <li>
                  <a class="btn-bulkdelete"><span style="color: #5499c7; "><i class="fa fa-trash"></i> Bulk Delete</span></a>
               </li>
            </ul>
            <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <table id="deployments" class="table">
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Desktop Name</th>
                     <th>Category(owner)</th>
                     <th>Group(owner)</th>
                     <th>Username(owner)</th>
                     <th>Co-owners</th>
                     <th>Desktops</th>
                     <th>Running</th>
                     <th>Visible</th>
                     <th>Last Access</th>
                     <th></th>
                     <th>Id</th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{% include '/admin/pages/deployments_modals.html' %}

{% include '/snippets/alloweds_form.html' %}
{% include '/admin/pages/deployments_detail.html' %}

{% endblock %}

{% block pagescript %}
   <!-- Isard restful ajax calls -->
   <script src="/isard-admin/static/js/restful.js"></script>
   <script src="/isard-admin/static/admin/js/deployments.js"></script>
{% endblock %}
