<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="x_panel">
        <div class="page-title">
           <div class="title_left">
              <h3><i class="fa fa-minus-circle"></i> Quotas / Limits <small>Restrictions for users</small></h3>
           </div>
           <div class="clearfix"></div>
        </div>
     </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-user"></i> Users <small></small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="users" class="table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Username</th>
              <th>Role</th>
              <th>Category</th>
              <th>Group</th>
              <th>Templates</th>
              <th>Persistent</th>
              <th>Temporal</th>
              <th>Domains size (GB)</th>
              <th>Media size (GB)</th>
              <th>Total size (GB)</th>
              <th>User Storage (MB)</th>
              <th>Id</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Username</th>
              <th>Role</th>
              <th>Category</th>
              <th>Group</th>
              <th>Templates</th>
              <th>Persistent</th>
              <th>Temporal</th>
              <th>Domains size (GB)</th>
              <th>Media size (GB)</th>
              <th>Total size (GB)</th>
              <th>User Storage (MB)</th>
              <th>Id</th>
            </tr>
            <tr>
              <th colspan="18" style="text-align:right" class="users-total-size"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-leaf"></i> Categories <small></small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="categories" class="table">
          <thead>
            <tr>
              <th rowspan="2"></th>
              <th rowspan="2">Name</th>
              <th rowspan="2">Description</th>
              <th colspan="1">User</th>
              <th colspan="5">Storage (GB)</th>
              <th colspan="2">Persistent</th>
              <th colspan="2">Temporal</th>
              <th colspan="2">Concurrent</th>
              <th colspan="2">VCPU</th>
              <th colspan="2">Memory</th>
              <th colspan="2">Templates</th>
              <th colspan="2">Isos</th>
              <th></th>
            </tr>
            <tr>
              <th>Limits</th>

              <th>Domains</th>
              <th>Media</th>
              <th>Total used</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Id</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th>Limits</th>

              <th>Domains</th>
              <th>Media</th>
              <th>Total used</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Id</th>
            </tr>
            <tr>
              <th colspan="23" style="text-align:right" class="categories-total-size"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-group"></i> Groups <small></small></h3>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="groups" class="table">
          <thead>
            <tr>
              <th rowspan="2"></th>
              <th rowspan="2">Name</th>
              <th rowspan="2">Category</th>
              <th rowspan="2">Description</th>
              <th colspan="1">User</th>
              <th colspan="5">Storage (GB)</th>
              <th colspan="2">Persistent</th>
              <th colspan="2">Temporal</th>
              <th colspan="2">Concurrent</th>
              <th colspan="2">VCPU</th>
              <th colspan="2">Memory</th>
              <th colspan="2">Templates</th>
              <th colspan="2">Isos</th>
              <th></th>
            </tr>
            <tr>
              <th>Limits</th>

              <th>Domains</th>
              <th>Media</th>
              <th>Total used</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Id</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Category</th>
              <th>Description</th>
              <th>Limits</th>

              <th>Domains</th>
              <th>Media</th>
              <th>Total used</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Quota</th>
              <th>Limits</th>
              <th>Id</th>
            </tr>
            <tr>
              <th colspan="24" style="text-align:right" class="groups-total-size"></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

{% include '/admin/pages/users_modals_quotas_limits.html' %}
{% include '/admin/pages/users_detail_quotas_limits.html' %}
{% include '/admin/pages/categories_detail_quotas_limits.html' %}
{% include '/admin/pages/groups_detail_quotas_limits.html' %}
{% endblock %}

{% block pagescript %}
<script src="/isard-admin/static/js/restful.js"></script>
<script src="/isard-admin/static/admin/js/users_quotas_limits.js"></script>
<script src="/isard-admin/static/admin/js/categories_quotas_limits.js"></script>
<script src="/isard-admin/static/admin/js/groups_quotas_limits.js"></script>
<script src="/isard-admin/static/admin/js/external_apps.js"></script>
<script src="/isard-admin/static/admin/js/roles.js"></script>
<script src="/isard-admin/static/js/snippets/quota.js"></script>
{% endblock %}